{% extends "base.html" %}

{% load static %}

{% block title %} Medication rec {% endblock %}
<!DOCTYPE html>
<html lang="en">

{% block middle %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'css/datatables.min.css' %}"/>
<script type="text/javascript" src ="{% static 'js/datatables.min.js' %}"></script>

<table id = "medication-table" class = "display">
    <thead>
        <tr>
            <th>Medication</th>
            <th>Start Date</th>
            <th>Quantity</th>
        </tr>
    </thead>
</table>

<script src = "{% static 'js/homescript.js' %}"></script>
{% endblock %}