{% extends "base.html" %}
{% block title %}Launching app..{% endblock %}

{% block content %}
Launching
<br/>
<br/>
<script>
    FHIR.oauth2.authorize({
        "client_id": "8c5976e4-5f27-48d1-a420-0d0974c70eab",
        "scope": "patient/Condition.read patient/MedicationAdministration.read patient/MedicationOrder.read patient/MedicationStatement.read launch profile fhirUser openid online_access",
        "redirect_uri" : "https://dagostino-bmi-6300-2.azurewebsites.net/"
    });
</script>
{%endblock%}