<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".css"/>
            <remove fileExtension=".js"/>
            <mimeMap fileExtension=".css" mimeType="text/css"/>
            <mimeMap fileExtension=".js" mimeType="text/javascript"/>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
